
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
body{
    padding:0px;
    margin:0px;
    background: rgb(13, 0, 255);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 27%, rgba(0,212,255,1) 100%);

    
}
canvas{
    background:white;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:80vmin;
    height:80vmin;
}
#overlay{
    background:rgba(0,0,0,0.7);
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:70vmin;
    height:70vmin;

    padding:1vmin;
    margin:0px;
    color: white;
    border-radius:2vmin;
}

#score{
    font-family: 'DotGothic16', sans-serif;
    font-weight: bold;
    position: fixed;
    font-size: 2em;
    padding-top:0%;
    margin-top:0%;
    padding-left:44%;
    
}

#menu{
    position:fixed;
    display:flex;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color: rgba(0,0,0,0.7);
    width:100%;
    height:100%;
    text-align: center; 
    z-index: 2;
} 

#start_button{
    font-family: 'DotGothic16', sans-serif;
    font-weight: bold;
    font-size: 2em;
    position: fixed;
    left: 47%;
    top: 50%;
    padding:1%;
    cursor: pointer;
    
}
#menu.hide,
#start_button.hide{
    display:none;
}
   
#game_over{
    font-family: 'DotGothic16', sans-serif;
    font-weight: bold;
    font-size: 1em;
    top:15%;
    left:40%;
    z-index: 3;
    position : fixed;
    display : flex;
    color: red;
    
}

#game_over.hide{
    display:none;
}
