
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
body{
    padding:0px;
    margin:0px;
    background: rgb(13, 0, 255);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 27%, rgba(0,212,255,1) 100%);

    
}
canvas{
    background:white;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:80vmin;
    height:80vmin;
}
#overlay{
    background:rgba(0,0,0,0.7);
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:70vmin;
    height:70vmin;

    padding:1vmin;
    margin:0px;
    color: white;
    border-radius:2vmin;
}

#score{
    font-family: 'DotGothic16', sans-serif;
    font-weight: bold;
    position: fixed;
    font-size: 2vw;
    padding-top:0%;
    margin-top:0%;
    padding-left:44%;
    
}

#score.double{
    font-family: 'DotGothic16', sans-serif;
    font-weight: bold;
    position: fixed;
    font-size: 2.5vw;
    padding-top:0%;
    margin-top:0%;
    padding-left:44%;
    color: red;
}

#menu{
    position:relative;
    display:flex;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color: rgba(0,0,0,0.7);
    width:100%;
    height:100%;
    text-align: center; 
    z-index: 2;
} 

#mute_music_button{
    font-family: 'DotGothic16', sans-serif;
    font-weight: bold;
    font-size: 2vw;
    white-space: normal;

    display: inline-block;
    border: 4px solid #3C14D0 ;
    color: #3C14D0;
    background: #000000;
    outline: none;

    
    position: fixed;
    left: 85%;
    top: 68%;
    height: 10%;
    cursor: pointer;
    transition: all 0.5s;
}

#mute_sfx_button{
    font-family: 'DotGothic16', sans-serif;
    font-weight: bold;
    font-size: 2vw;
    white-space: normal;

    display: inline-block;
    border: 4px solid #3C14D0 ;
    color: #3C14D0;
    background: #000000;
    outline: none;

    
    position: fixed;
    left: 85%;
    top: 80%;
    height: 10%;
    cursor: pointer;
    transition: all 0.5s;
}

#info{
    font-family: 'DotGothic16', sans-serif;
    font-weight: bold;
    font-size: 1vw;
    padding-top: 20%;
    padding-left: 10%;
    color:white;
}

#guide{
    font-family: 'DotGothic16', sans-serif;
    font-weight: bold;
    font-size: 1vw;
    padding-left: 10%;
    color:white;
}

#highscores_button{
    font-family: 'DotGothic16', sans-serif;
    font-weight: bold;
    font-size: 2vw;
    white-space: normal;

    display: inline-block;
    border: 4px solid #3C14D0 ;
    color: #3C14D0;
    background: #000000;
    outline: none;

    
    position: fixed;
    left: 45%;
    top: 59%;
    height: 10%;
    cursor: pointer;
    transition: all 0.5s;
    
}

#menu.hide,
#highscores_button.hide{
    display:none;
}

#highscores_button:hover{
    color:#000000;
    background-color:#fff;
}

#start_button{
    font-family: 'DotGothic16', sans-serif;
    font-weight: bold;
    font-size: 2vw;
    white-space: normal;

    display: inline-block;
    border: 4px solid #3C14D0;
    color: #3C14D0;
    background: #000000;
    outline: none;

    position: fixed;
    left: 47%;
    top:44%;
    height: 10%;
    /*-ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding:1%;*/
    cursor: pointer;
    transition: all 0.5s;
    
}

#menu.hide,
#start_button.hide{
    display:none;
}

#start_button:hover{
    color:#000000;
    background-color:#fff;
}
    
#game_over{
    font-family: 'DotGothic16', sans-serif;
    font-weight: bold;
    font-size: 1vw;
    top:15%;
    left:46.5%;
    z-index: 3;
    position : fixed;
    display : flex;
    color: red;
    
}

#game_over.hide{
    display:none;
}

#highscore_form{
    font-family: 'DotGothic16', sans-serif;
    font-weight: bold;
    font-size: 1vw;
    top:70%;
    left:46%;
    z-index: 3;
    position : fixed;
    display : flex;
    color: whitesmoke;
    
}

#nickname{
    width:100%;
    padding: 5px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;  
}

#highscore_form.hide{
    display:none;
}

#save_hs{
    font-family: 'DotGothic16', sans-serif;
    font-weight: bold;
    font-size: 1vw;

    display: inline-block;
    border: 4px solid #3C14D0 ;
    color: #3C14D0;
    background: #000000;
    outline: none;
    

    
    position: static;
    padding:2%;
    cursor: pointer;
    transition: all 0.5s;
    
}

#save_hs:hover{
    color:#000000;
    background-color:#fff;
}